Linked phrases to incorporate: </br></br>

{{#hss-related-links org_id=org_id topic=topic}}

{{#each links}}
    page_id={{pageId}} with title <a href="{{url}}">{{title}}</a></br>
{{/each}}

{{/hss-related-links}}